#home {
  background-image: url('../../assets/img/index-image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

h1 {
  padding-top:5rem;
  font-size: 5.5rem
  /* font-weight: 100; */
}

h4 {
  font-size: 2.3rem;
  /* text-align: center; */
}
